@import url(https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(../img/FondoSesion.png);
   }

#logo {
    color: #ffa446;
    text-decoration: none;
    font-family: "Bree Serif", serif;
    font-size: 25px;
    width: 50%;
}

.sesion{
    font-size: 20px;
    background-color: #ffa446;
    border-radius: 8px;
    border: none;
    color: white;
    font-family: "Bree Serif", serif;
}

/*Style navegador*/

header{
    width: 100%;
    height: 80px;
    border: none;
}

#accion{
    height: 80px;
    width: 95%;
    position: relative;
    margin: 15px;
    padding: 0;
    z-index: 10;
}

#herramientas{
    position: relative;
    float: right;
}

#cierreSesion{
    position: relative;
    float: right;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  #finalizar{
    float: left;
  }

  li a, .dropbtn{
    font-size: 20px;
    background-color: #ffa446;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: "Bree Serif", serif;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*Style ticket*/
section{
    border: 2px solid white;
    position: relative;
    margin: 20px;
    margin-top: 100px;
    clear: both;
}

.table-section{
    width: 97%;
    display: flex;
    justify-content: space-between;

}

.section-container{
    border: 2px solid white;
    position: relative;
    width: 33%;
}

#tablaProductos{
    position: relative;
    flex: 1;
}

#ticket-section{
    position: relative;
    flex: 1;
}

.product-section{
    position: relative;
}

tr{
    border: 2px solid white; 
}

td{
    border: 2px solid white;
}