@import url(https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap);

*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/calorias_restaurantes_usa-680x492.webp),
    linear-gradient(to bottom, rgb(0, 0, 0), white);
    background-size: cover;
    background-blend-mode: multiply;
}

header{
    width: 97%;
    position: relative;
    margin: 20px;
}


#logo {
    color: #ffa446;
    text-decoration: none;
}


header nav button{
    font-size: 25px;
    background-color: #ffa446;
    border-radius: 8px;
    float: right;
    position: absolute;
    top: 8px;
    right: 16px;
    border: none;
    color: white;
}



main{
    width: 97%;
    float: left;
    position: relative;
    margin: 40px 15px;
    padding: 30px;
}

img{
    float: left;
    border-radius: 40px;
}


.informacion{
    float: left;
    font-size: 50px;
    width: 55%;
    font-family: "Poetsen One", sans-serif;
    color: #ffa446;
}

.informacion button{
    font-size: 25px;
    background-color: #ffa446;
    border-radius: 8px;
    border: none;
}

.informacion button a{
    text-decoration: none;
    color: white;
}

/**aside{
    width: 20%;
    float: left;
    position: relative;
    margin: 40px 15px;
    padding: 30px;
}**/

/**footer{
    position: relative;
}**/