<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
=======
body{
    background-image: linear-gradient(black, darkorange) ;
}
>>>>>>> 2d49ad21df6fa36e72f12d1f4b5feb3b10594815

form{
    border: 5px solid rgb(128, 58, 11);
    border-radius: 20px;
    margin: 20px 300px 300px;
    background-color: #ffa446;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 20px 100px 100px;
}

input,select{
    border: 2px solid rgb(128, 58, 11);
    border-radius: 15px;
    margin: 10px 10px 10px;
    margin-left: 25%;
    padding-left: 10px;
    height: 40px;
    width: 300px;
    font-size: medium;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

label{
    margin-left: -22%;
    font-size: 16px;
    font-family:Verdana;
    font-weight: bold;
    color: black;
}

h1{
    text-align: center;
    font-family:sans-serif;
<<<<<<< HEAD
    color: ivory;
}

#logo {
    color: #ffa446;
    text-decoration: none;
    font-family: "Bree Serif", serif;
    font-size: 25px;
}

.sesion{
=======
    color: rgb(128, 58, 11);
    text-shadow: 2px 2px rgb(0, 0, 0);
}
a{
    text-decoration: none;

}
.link{
    padding: 5px;
>>>>>>> 2d49ad21df6fa36e72f12d1f4b5feb3b10594815
    font-size: 20px;
    background-color: #ffa446;
    border-radius: 8px;
    border: none;
    color: white;
<<<<<<< HEAD
    font-family: "Bree Serif", serif;
=======
    font-family: Verdana;
    font-weight: 100;
>>>>>>> 2d49ad21df6fa36e72f12d1f4b5feb3b10594815
}